@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
::selection {
  background: black;
  color: #fff;
}

.tip {
  font-size: 50px;
  font-weight: 600;
  color: #000;
}
.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.5);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.user {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #000, #363535);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#user:checked ~ .slider-tab {
  left: 50%;
}
#user:checked ~ label.user {
  color: #fff;
  cursor: default;
  user-select: none;
}
#user:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.user {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: rgb(51, 50, 50);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .user-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .user-link a {
  color: #000;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .user-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(left, #000, #363535);
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/* sidebar */

nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #292929;
  display: inline-block;
  height: 100vh;
  position: absolute;
}
.nav li {
  padding-top: 50px;
  cursor: pointer;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  margin-bottom: -1px;
  width: 80px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
}
.nav li div,
.nav li i {
  position: absolute;
  text-align: center;
  animation-duration: 0.34s;
}
.nav li div {
  margin-left: 80px;
  text-align: center;
  width: 160px;
}
.nav li i {
  line-height: 60px;
  width: 80px;
  z-index: 9;
  background: #292929;
}
.nav li div {
  display: none;
  z-index: 1;
  background: mediumseagreen;
}

.nav li:hover > div {
  display: inline-block;
}
.nav li:hover i {
  background: mediumseagreen;
}

.hero {
  height: 50vh;
  text-align: center;
  padding-top: 22%;
  font-family: "Roboto Slab", serif;
  font-size: 28px;
}
.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.credits a {
  margin: 10px;
}

/* Progresbar */
ul.progress-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

li.section {
  display: inline-block;
  padding-top: 45px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: gray;
  vertical-align: top;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.section:before {
  content: "x";
  position: absolute;
  top: 2px;
  left: calc(50% - 15px);
  z-index: 1;
  width: 30px;
  height: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 17px;
  line-height: 30px;
  background: gray;
}
.status-bar {
  height: 2px;
  background: gray;
  position: relative;
  top: 20px;
  margin: 0 auto;
}
.current-status {
  height: 2px;
  width: 0;
  border-radius: 1px;
  background: mediumseagreen;
}

@keyframes changeBackground {
  from {
    background: gray;
  }
  to {
    background: mediumseagreen;
  }
}

li.section.visited:before {
  content: "\2714";
  animation: changeBackground 0.5s linear;
  animation-fill-mode: forwards;
}

li.section.visited.current:before {
  box-shadow: 0 0 0 2px mediumseagreen;
}

/* Tabels */

.tabel-antrian {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabel-antrian thead tr {
  background-color: mediumseagreen;
  color: #fff;
  text-align: center;
}

.tabel-antrian th,
.tabel-antrian td {
  padding: 12px 10px;
  text-align: center;
}

.tabel-antrian tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tabel-antrian tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tabel-antrian tbody tr:last-of-type {
  border-bottom: 2px solid mediumseagreen;
}

/* .tabel-antrian tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

.btn {
  border-radius: 4px;
  width: 80px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}

.btn-tambah {
  background-color: #000;
}

/* form */

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-tambah {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-tambah input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-tambah input[type="text"]:focus,
input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-tambah .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-tambah .cancel {
  background-color: red;
}

.form-tambah .btn:hover,
.open-button:hover {
  opacity: 1;
}
